#Pagina {
    -fx-background-color: rgb(233, 229, 229);
    -fx-padding: 30px;
    -fx-alignment: center;
    -fx-spacing: 100px;
}

#caixaSecundaria {
    -fx-background-color: gray;
    -fx-alignment: center;
    -fx-spacing: 20px;

    -fx-background-radius: 5px;
}

#Titulo {
    -fx-text-fill: gray;
    -fx-font-weight: bold;

    -fx-font-size: 40px;
}

#quantidadeInstrucoes {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;

    -fx-background-color: rgb(162, 160, 160);
    -fx-border-color: gray;
    -fx-border-width: 0.2px;

    /* Arredonda a cor de fundo */
    -fx-background-radius: 10px;

    /* Arredonda a linha da borda para acompanhar o fundo */
    -fx-border-radius: 5px;
}

#instrucoes {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;

    -fx-background-color: rgb(162, 160, 160);
    -fx-border-color: gray;
    -fx-border-width: 0.2px;

    -fx-background-radius: 5px;

    -fx-border-radius: 5px;
}

#botaoEnviarDados {
    -fx-background-color: rgb(162, 160, 160);
    -fx-border-color: gray;
    -fx-border-width: 0.2px;

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;

    -fx-border-radius: 5px;

    -fx-transition: 0.3s;
}

#botaoEnviarDados:hover {
    -fx-background-color: rgb(142, 140, 140);
}

#botaoEnviarDados:pressed {
    -fx-background-color: rgb(122, 120, 120);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#instrucoes .scroll-pane,
#instrucoes .scroll-pane .viewport,
#instrucoes .scroll-pane .content {
    -fx-background-color: transparent;
}