#Pagina {
    -fx-background-color: rgb(233, 229, 229);
    -fx-padding: 30px;
    -fx-alignment: center;
    -fx-spacing: 100px;
}

#caixaSecundaria {
    -fx-background-color: gray;
    -fx-alignment: center;
    -fx-spacing: 20px;

    -fx-background-radius: 5px;
}

/* Estilo do Título MIC 1 - Acima */
#Titulo {
    -fx-text-fill: #595959; /* Um cinza escuro marcante */
    -fx-font-weight: bold; /* Letra gordinha */
    -fx-font-size: 44px;
    -fx-text-alignment: center; /* Centraliza o texto dentro do Label */
    -fx-padding: 20 0 10 0; /* Adiciona espaçamento vertical para centralizar melhor no container */
}

/* Estilo do texto descritivo - CENTRALIZADO E CABENDO TODO O TEXTO */
#instrucoesTexto {
    -fx-text-fill: #8c8c8c;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-line-spacing: 3px;  
    
    -fx-text-alignment: left;  
    -fx-wrap-text: true;       
    -fx-pref-width: 320px;     
}

#instrucoes *.text {
    -fx-text-alignment: center;
}

#instrucoes {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

    -fx-background-color: rgb(162, 160, 160);
    -fx-border-color: gray;
    -fx-border-width: 0.2px;

    -fx-background-radius: 5px;

    -fx-border-radius: 5px;
}

#botaoEnviarDados, #botaoControlarCiclos {
    -fx-background-color: rgb(162, 160, 160);
    -fx-border-color: gray;
    -fx-border-width: 0.2px;

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;

    -fx-border-radius: 5px;

    -fx-transition: 0.3s;
}

#botaoEnviarDados:hover, #botaoControlarCiclos:hover {
    -fx-background-color: rgb(142, 140, 140);
}

#botaoEnviarDados:pressed, #botaoControlarCiclos:pressed {
    -fx-background-color: rgb(122, 120, 120);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#instrucoes .scroll-pane,
#instrucoes .scroll-pane .viewport,
#instrucoes .scroll-pane .content {
    -fx-background-color: transparent;
}